button {
  cursor: pointer;
  background-color: var(--color-primary);
  border: none;
  color: white;
  padding: 10px 40px;
  border-radius: 5px;
}

.btn-danger {
  background-color: var(--color-danger);
}

.btn-success {
  background-color: var(--color-success);
}

.btn-cancel {
  background-color: var(--color-cancel);
}

.btn-img {
  padding: 0;
  width: 3rem;
  height: 3rem;

  img {
    width: 1.2rem;
  }
}
