button {
  cursor: pointer;
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 40px;
  border-radius: 5px;
}

.btn-delete {
  background-color: red;
}

.btn-save {
  background-color: rgb(16, 215, 16);
}

.btn-cancel {
  background-color: #a6a6a6;
}

.btn-delete, .btn-edit, .btn-save, .btn-cancel {
  padding: 0;
  width: 3rem;
  height: 3rem;

  img {
    width: 1.2rem;
  }
}
