@use './reset.scss';
@use '@pages/TodoListPage/todoListPage.scss';
@use '@components/TaskItem/taskItem.scss';
@use '@components/TaskAdd/taskAdd.scss';
@use '@components/TaskSwitch/taskSwitch.scss';
@use '@components/Sidebar/sidebar.scss';
@use '@components/AuthForm/authForm.scss';

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/Inter-Light.ttf') format('truetype');
}

:root {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--color-text);
  background-color: var(--color-background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #007bff;
  --color-secondary: #ffdd00;
  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #17a2b8;
  --color-cancel: #adb5bd;
  --color-background: #dee5f5;
  --color-background2: #929fbd;
  --color-text: #212529;  
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

input {
  font-family: 'Inter', sans-serif;
}