.tabs {
  // display: flex;
  // justify-content: space-evenly;
  margin-bottom: 1rem;
  // flex-direction: row;
  margin: 0 auto;
  padding: 0.5rem;

  .tab-link {
    font-size: 1.1rem;
    display: inline;
    background-color: inherit;
    color: var(--color-text);
    padding: 0;
    cursor: pointer;
  }

  .tab-link:hover {
    text-decoration: underline;
  }

  .active {
    color: var(--color-primary);
    text-decoration: underline;
  }
}
